{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {% if app.user != null %}
        {% for role in app.user.roles %}
            {% if role != 'ROLE_ADMIN' %}
                <h4>Access denied</h4>
            {% else %}
                <h1>Create new User</h1>

                {{ include('user/_form.html.twig') }}
                <hr>

                <a class="btn btn-primary" href="{{ path('user_index') }}">back to list</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <h4>Please,login for see this page</h4>
    {% endif %}
{% endblock %}
